@import 'variables.css.scss';

h1, h2, h3, p, {
  font-family:$source-sans-pro;
  color:white;
}

.fa {color:white;}

body {
  background-color:darken($smiths-blue, 15%);
}

#header {
  min-height:60px;
  padding:20px;
  background-image:url('/assets/cartographer.png');
  

  img {
    margin:0px auto -85px auto;
    position:relative;
    z-index:20;

  }
}

#top-contact {
  margin-top:40px;
  .fa, a, p {
    color:lighten($smiths-blue, 40%);
  }
  p {
    line-height:.75em;
  }
  h3 {
    font-size:15px;
  }
}

#main-text {
  .lead {
    font-size:36px;

  }
  min-height: 500px;
  margin-top:33px;
  // background-color:rgba(120,120,120,.1);
  background-image:url('/assets/bike-smith-blue.jpg');
  background-position-y:-250px;
  background-position-x:50%;
  background-color:$smiths-blue;
  background-repeat:no-repeat;
  padding:30px 0 20px 0;
  p {
    font-size:20px;
    font-weight:200;
    padding:0 25px;
    span {
      color:$orange;
    }
  }


}

#main-content {
  background-image:url('/assets/bike-dark-blue.jpg');
  background-position-y:-750px;
  background-position-x:50%;
  background-repeat:no-repeat;
  min-height:200px;
  #about {
    padding:22px;
  }
  img {
    border:8px solid rgba(0,0,0,.2);
    margin-bottom:20px;
  }

}

#about {
  margin-top:-120px;
  margin-bottom:40px;
  a {
    &:hover {
      text-decoration:none;
      color:$orange;
    }
  }
}

#employees {
  height:170px;
  // background-color:lighten($smiths-blue, 20%);
  background-color:darken($orange, 10%);
  img {
    float:right;
    margin-top:-20px;
    border:12px solid darken($orange, 10%);
  }
  small {
    color:lighten($orange, 40%);
    margin-left:-.5em;
    font-family:$yellowtail;
    font-size:24px;
  }
  h3 {
    margin-top:0;
    font-size:32px;
    span {
    color:rgba(255,255,255,.5);
    }
  }

}

.worker {
  margin-top:-60px;
  
  img {
    margin:0 auto;
  }
  h3 {
    margin-top:-50px;
    text-shadow:1px 1px  rgba(0,0,0, .9);
  }
  h4 {
    margin-top:30px !important;
    color:#ffffff;
  }

}

#info-content {
  color:rgba(255,255,255,.7);
  padding:40px 0;
  iframe {
    border:12px solid rgba(255,255,255,.2);
  }
  h3 {
    margin-top:0;
  }
  background-image:url('/assets/cartographer.png');
}

.carousel-caption {
  background-color:rgba(0,0,0,.6);
  top:0px;
  left:20px;
  width:50%;
  height:100%;
  text-align:left;
  padding:0 20px 20px 20px;
}

.carousel-caption p {
  font-size:14px;
  line-height:1em;
  font-weight:200;
}

.carousel-caption h2 {
  font-weight:700;
  font-size:16px;
}

.carousel-control.right, .carousel-control.left {  
  background-image:none !important;
}

#brands-we-carry {
  background-image:url('/assets/josh.jpg');
  background-size:cover;
  background-color:white;
  padding:40px 0;
  p {
    color:$smiths-blue;
  }
  img {
    margin:0 auto;
    border:1px solid #efefef;
  }
  h1 {
    font-size:20px;
    margin-top:5px;
    margin-bottom:1.5em;
  }
  
}

#bike-maintenance-packgages {
  background-image:url(/assets/service-bg.jpg);
  background-size:cover;
  padding:40px 0;
  .well {
    border-color:rgba(0,0,0,1);
    background-color:rgba(0,0,0,.7);
    h1, p {
      color:white;
    }

    h1 {
      margin-top:0;
      font-size:20px;
      span {
        background-color:$smiths-blue;
        padding:10px;
        border-radius:50%;
        float:left;
        margin-bottom:3em;
        margin-right:10px;
        display:block;
        width:60px;
        height:60px;
        font-size:34px;
      }

    }
    min-height:150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.7);

  }
}

// .brands {

//   margin:5px;
  
//   min-height:150px;
//   .logos {
    
//     height:120px;
//     padding:20px;
//   }
//   .brand-names {
  
//   }
//   h1 {
//     padding-top:10px;
//     font-size:18px;
//   }
//   img {
//     margin:0 auto;
//     border:1px solid #efefef;
//   }


// }

footer {
  padding:10px;
  text-align:center;
  color:rgba(255,255,255,.3);
}