@import 'variables.css.scss';

h1, h2, h3, p, {
  font-family:$source-sans-pro;
  color:white;
}

.fa {color:white;}

body {
  background-color:darken($smiths-blue, 15%);
}

#header {
  min-height:60px;
  padding:20px;
  background-image:url('/assets/cartographer.png');
  

  img {
    margin:0px auto -85px auto;
    position:relative;
    z-index:20;

  }
}

#top-contact {
  margin-top:40px;
  .fa, a, p {
    color:lighten($smiths-blue, 40%);
  }
  p {
    line-height:.75em;
  }
  h3 {
    font-size:15px;
  }
}

#link-to-store {
  padding:30px 20px;
  background-color:$orange;
  h2 a {color:$smiths-blue;}

  }
}

#main-text {
  .lead {
    font-size:36px;

  }
  min-height: 650px;
  margin-top:33px;
  margin-bottom:40px;
  // background-color:rgba(120,120,120,.1);
  //background-image:url('/assets/bike-smith-blue.jpg');
  background-position-y:-250px;
  background-position-x:50%;
  background-color:$smiths-blue;
  background-size:cover;
  background-repeat:no-repeat;
  padding:30px 0 20px 0;
  p {
    font-size:20px;
    font-weight:200;
    padding:0 25px;
    span {
      color:$orange;
    }
  }


}

#league-of-american-bicyclist {
  margin:40px 0 50px 0;
  background-color:#acd373;
  padding:20px;
  h3 {color:darken(#acd373, 30%);margin:0;padding:0;}
  border-radius:0px 20px 0 20px;
}

#main-content {

  //background-image:url('/assets/bike-dark-blue.jpg');
  background-position-y:-900px;
  background-position-x:50%;
  background-repeat:no-repeat;
  min-height:200px;
  #about {
    padding:22px;
  }
  img {
    border:8px solid rgba(0,0,0,.2);
    margin-bottom:20px;
  }

}

#promo {
  padding:40px 0 40px 0;
  background-image:url('/assets/cartographer.png');

}

#about {
  margin-top:-120px;
  margin-bottom:40px;
  a {
    &:hover {
      text-decoration:none;
      color:$orange;
    }
  }
}

#employees {
  min-height:170px;

  margin-top:12px;
  // background-color:lighten($smiths-blue, 20%);
  background-color:darken($orange, 10%);
  // border:1px solid red;
  img {
    float:right;
    margin-top:20px;
    border:0px solid darken($orange, 10%);


  }
  small {
    color:lighten($orange, 40%);
    margin-left:-.5em;
    font-family:$yellowtail;
    font-size:18px;
  }
  h3 {
    margin-top:0;
    font-size:18px;
    span {
    color:rgba(255,255,255,.5);
    }
  }

  // .carousel-inner > .item > img {
  //   position:absolute;
  //   z-index:8000 !important;
    
  //   border:1px solid red;
  //   padding-top:12px;
  //   margin-top:-120px;
  // }

}

.worker {
  margin-top:-20px;
  position:relative;
  
  img {
    margin:20px auto;
    position:absolute;
    top:-20px;
    z-index:3000;

  }
  h3 {
    margin-top:-50px;
    text-shadow:1px 1px  rgba(0,0,0, .9);
  }
  h4 {
    margin-top:30px !important;
    color:#ffffff;
  }

}

#info-content {
  color:rgba(255,255,255,.7);
  padding:40px 0;
  iframe {
    border:12px solid rgba(255,255,255,.2);
  }
  h3 {
    margin-top:0;
  }
  background-image:url('/assets/cartographer.png');
}

.carousel-caption {
  background-color:rgba(0,0,0,.6);
  top:0px;
  left:20px;
  width:88%;
  height:100%;
  text-align:left;
  padding:0 20px 20px 20px;
}

.carousel-caption p {
  font-size:12px;
  line-height:1em;
  font-weight:200;
}

.carousel-caption h2 {
  font-weight:700;
  font-size:16px !important;
}

.carousel-control.right, .carousel-control.left {  
  background-image:none !important;
}

#brands-we-carry {
  background-image:url('/assets/josh.jpg');
  background-size:cover;
  background-color:white;
  padding:40px 0;
  p {
    color:$smiths-blue;
  }
  img {
    margin:0 auto;
    border:1px solid #efefef;
  }
  h1 {
    font-size:20px;
    margin-top:5px;
    margin-bottom:1.5em;
  }
  
}

#bike-maintenance-packgages {
  background-image:url(/assets/service-bg.jpg);
  background-size:cover;
  padding:40px 0;
  .well {
    border-color:rgba(0,0,0,1);
    background-color:rgba(0,0,0,.7);
    h1, p {
      color:white;
    }

    h1 {
      margin-top:0;
      font-size:20px;
      span {
        background-color:$smiths-blue;
        padding:10px;
        border-radius:50%;
        float:left;
        margin-bottom:3em;
        margin-right:10px;
        display:block;
        width:60px;
        height:60px;
        font-size:34px;
      }

    }
    min-height:150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.7);

  }
}


footer {
  padding:10px;
  text-align:center;
  color:rgba(255,255,255,.3);
}