@import 'variables.css.scss';
/* responsive */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    // border:3px solid red;
  }
  #top-contact {
    margin-top:0px;
  }

  .carousel-caption {
    background-color:rgba(0,0,0,.6);
    top:0px;
    left:20px;
    width:35%;
    height:100%;
    text-align:left;
    padding:0 20px 20px 20px;
  }

  .carousel-caption p {
    font-size:20px;
    font-weight:200;
  }

  .carousel-caption h2 {
    font-weight:700;
    font-size:36px;
  }

  #main-img {
    margin-top:10px;
  }

  #main-text {
    p {
      font-size:22px;
    }
    .lead {
      font-size:48px;
    }
    padding:50px 0 20px 0;
  }

  #main-content {

  }

  #employees {
  height:170px;
  // background-color:lighten($smiths-blue, 20%);
  background-color:darken($orange, 10%);
  img {
    float:right;
    margin-top:-20px;
    border:12px solid darken($orange, 10%);
  }
  small {
    color:lighten($orange, 40%);
    margin-left:-.5em;
    font-family:$yellowtail;
    font-size:24px;
  }
  h3 {
    margin-top:0;
    font-size:32px;
    span {
    color:rgba(255,255,255,.5);
    }
  }

}




}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    // border:3px solid blue;
  }
  #top-contact {
    margin-top:-105px;
    h3 {
      font-size:20px;
    }
  }

  #main-content {
    img {
      margin-bottom:20px;
    }
  }

  #main-img {
    margin-top:33px;
  }

  #main-text {
    padding:100px 0 20px 0;
  }




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    // border:3px solid yellow;
  }
  #top-contact {
    margin-top:-105px;
  }

}