$smiths-blue:#014b92;
//rgba(1,75,146,1)

$orange:#f7941d;

$dark-blue:#0a2245;
$source-sans-pro:'Source Sans Pro', sans-serif;
$yellowtail:'Yellowtail', cursive;


// #header {
// background: #4c4c4c; /* Old browsers */
// background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 86%, #ffffff 86%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(86%,#131313), color-stop(86%,#ffffff)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 86%,#ffffff 86%); Chrome10+,Safari5.1+
// background: -o-linear-gradient(top,  #4c4c4c 0%,#131313 86%,#ffffff 86%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top,  #4c4c4c 0%,#131313 86%,#ffffff 86%); /* IE10+ */
// background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 86%,#ffffff 86%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

// }